<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<!--<listeners>
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 fileName="%APPDATA%\SourceLog\SourceLog.App.log" footer="" formatter="Text Formatter"
			 header="" rollInterval="Hour" maxArchivedFiles="10" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
		</listeners>-->
		<!--<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 template="{timestamp} {severity} {category}: {message} | Priority: {priority}, EventId: {eventid}, Title:{title}, Machine: {localMachine}, App Domain: {localAppDomain}, ProcessId: {localProcessId}, Process Name: {localProcessName}, Thread Name: {threadName}, Win32 ThreadId:{win32ThreadId}, Extended Properties: {dictionary({key} - {value})}"
			 name="Text Formatter" />
		</formatters>-->
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<!--<add name="Rolling Flat File Trace Listener" />-->
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<!--<add name="Rolling Flat File Trace Listener" />-->
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<!--<add name="Rolling Flat File Trace Listener" />-->
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
</configuration>